@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'abelregular';
    src: url('..//styles/fonts/abel/abel-regular-webfont.woff2') format('woff2'),
         url('../styles/fonts/abel/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "abelregular",system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10vw;
}

.nav-container {
    display: flex;
    font-size: 2rem;
}

.header-section {
    width: 80vw;
    border-bottom: 2px solid black;
}

.nav-container > .nav-item > a {
    text-decoration: none;
    margin: 20px;
    color: black;
    font-size: 3rem;
}

.cv-section {
    border: 2px solid black;
    width: 80%;
    margin: 30vh 0 30vh 10vw;
    font-size: 2rem;
}

.education-section {
    padding: 50px;
}

.uni-degree-section {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}

.skills-detail {
    display: flex;
}

.programming-section {
    margin: 0 100px 0 0;
}

.language-section {
    width: 100%;
}

.skills-section {
    width: 93.5%;
    margin-left: 50px;
    border-top: 2px solid black;
}

.skills-container > h2 {
    margin-left: 50px;
}

.language-section > p:first-child {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 0;
}

.projects-section {
    border-top: 2px solid black;
    width: 93.5%;
    margin: 0 3.5% 10%;
}

.projects-container > h2 {
    margin-left: 3.5%;
}