@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'abelregular';
    src: url('../styles/fonts/abel/abel-regular-webfont.woff2') format('woff2'),
         url('../styles/fonts/abel/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "abelregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0 10%;
    font-size: 3rem;
}

h2 {
    margin-top: 0;
}

.header-section {
    border-bottom: 2px solid black;
    margin-bottom: 10%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-container > a{
    text-decoration: none;
    color: black;
    padding: 0 2.5%;
}

.link-container {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.firstRow-firstColumn,
.firstRow-secondColumn {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2.5% 5% ;
    width: 35%;
    height: 35vh;
}

.first-row-project,
.second-row-project {
    display: flex;
    font-size: 2.5rem;
    justify-content: space-around;
    margin-bottom: 10%;
}

.firstRow-firstColumn > a,
.firstRow-secondColumn > a {
    text-decoration: none;
    margin: 0 5% 0 0;
}

a:hover {
    color: blue;
}

.firstRow-firstColumn-lang,
.firstRow-secondColumn-lang {
    display: flex;
    font-size: 1.5rem;
    gap: 5%;
}

.firstRow-firstColumn-lang > div,
.firstRow-secondColumn-lang > div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    margin-top: 5%;
    font-weight: bold;
}

.footer-section {
    border-top: 2px solid black;
    height: 15vh;
    margin-top: 20%;
}


