@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'abelregular';
    src: url('../styles/fonts/abel/abel-regular-webfont.woff2') format('woff2'),
         url('../styles/fonts/abel/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 62.5%;
    --black: rgba(0, 0, 0, 1);
}

body {
    font-family: "abelregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-section {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--black);
    width: 80%;
    margin-left: 10%;
}

.nav-bar,
.link-section {
    display: flex;
    align-items: center;
}

.nav-bar.link{
    padding: 25px;
    font-size: 3rem;
}

.nav-bar.link a{
    text-decoration: none;
    color: var(--black);
}

.hero-section {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    padding: 150px;
}

.article-section {
    display: flex;
}

